<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Cart</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>
<body>
<script type="text/javascript">
    function quantityChange(){
        calculateBill();
    }
    function removeRow(event){
        event.remove();
    }
    function calculateBill(){
        var rowLength = document.getElementById("tableBody").rows.length;
        var amount;
        var quantity;
        var totalQuantity = 0;
        var totalPrice = 0.0;
        for (let i = 0; i < rowLength; i++) {
            amount = document.getElementById("tableBody").rows[i].getElementsByClassName("product-price")[0].outerText;
            amount = parseFloat(amount.slice(1));
            quantity = document.getElementById("tableBody").rows[i].getElementsByClassName("product-quantity")[0].firstChild.value;
            quantity = parseInt(quantity);
            totalQuantity += quantity;
            totalPrice += (amount * quantity);
        }
        document.getElementById("totalQuantity").innerText = totalQuantity;
        document.getElementById("totalPrice").innerText = totalPrice;
    }
    function performCheckout(){
        var rowLength = document.getElementById("tableBody").rows.length;
        addedItems = {};
        for (let i = 0; i < rowLength; i++) {
            temp = {};
            amount = document.getElementById("tableBody").rows[i].getElementsByClassName("product-price")[0].outerText;
            amount = parseFloat(amount.slice(1));
            temp["price"] = amount;
            quantity = document.getElementById("tableBody").rows[i].getElementsByClassName("product-quantity")[0].firstChild.value;
            quantity = parseInt(quantity);
            temp["quantity"] = quantity;
            totalPrice = amount * quantity;
            temp["totalPrice"] = totalPrice;
            productName = document.getElementById("tableBody").rows[i].getElementsByClassName("product-name")[0].outerText
            addedItems[productName] = temp;
        }


        $("#openCheckout").append('<input type="hidden" name="a" value='+JSON.stringify(addedItems)+'>');
        $('#openCheckout').submit();
        // var xhr = new XMLHttpRequest();
        // xhr.open("POST", '/checkoutItems', true);
        // xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        //
        // xhr.onreadystatechange = function() { // Call a function when the state changes.
        //     if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        //         // Request finished. Do processing here.
        //     }
        // }
        // xhr.send("foo=bar&lorem=ipsum");

    }
</script>
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
<form id="openCheckout" action="/checkout" method="post">
</form>
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">

                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="index.html">Home</a>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->

<div class="cart-section mb-150">
    <div class="container">
        <div class="row" style="margin-top: 50px">
            <div class="col-lg-12 col-md-12">
                <a onclick="performCheckout()" style="float: right" class="boxed-btn black">Check Out</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                        <tr class="table-head-row">
                            <th class="product-remove"></th>
                            <th class="product-image">Product Image</th>
                            <th class="product-name">Name</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        <tr th:id="${item.getItemId()}" th:each="item :${selectedItems}"  class="table-body-row">
                            <td onclick="removeRow(this.parentElement)" class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                            <td class="product-image"><img th:src="@{'assets/img/products/'+${item.getItemName().trim().toLowerCase()}+'.jpg'}"/></td>
                            <td th:text="${item.getItemName().trim()}" class="product-name"></td>
                            <td th:text="@{'₹'+${item.getPricePerItem()}}" class="product-price"></td>
                            <td onchange="quantityChange()" class="product-quantity"><input type="number" placeholder="1" value="1"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                        <tr class="table-total-row">
                            <th>Total</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="total-data">
                            <td><strong id="totalQuantity"></strong></td>
                            <td id="totalPrice"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- end cart -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Created by: <a href="https://www.linkedin.com/in/neha-sarnaik-6627471a2/">@Neha Sarnaik</a> and
                    <a href="https://www.linkedin.com/in/avinash-gaikwad-917bab166/">@Avinash Gaikwad</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    calculateBill();
</script>
</body>
</html>